<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button {
            color: white;
            border: none;
            width: 50px;
            height: 30px;
        }

        .on {
            background-color: blue;
        }
        .off {
            background-color: green;
        }
    </style>
</head>
<body>
    <h1>LED ON / OFF</h1>
    <img id = "led" alt= "on" src="https://e7.pngegg.com/pngimages/922/441/png-clipart-of-yellow-light-bulb-incandescent-light-bulb-lighting-creative-bulb-flag-fashion-thumbnail.png">
    <br>
    <button class="on" id="on">on</button>
    <button class="off" id="off">off</button>
    
    <script src="./static/index.js"></script>
</body>
</html>
